body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blueviolet;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#principal{
  background-color: chocolate;
  
  }
  #navegacion{
    background-color: aqua;
    float: left;
    width: 25%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  
  }
  
  #detalle{
    float:left;
    background-color: blue;
    width: 75%;
  }

  li{
    list-style: none;
    margin: 3px;
  }
  li:nth-child(even) {
    background-color: rgb(251, 255, 0);
  }
  
  li:nth-child(odd) {
    background-color: rgb(107, 214, 103);
  }